.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
.pagination{
    margin-left: 400px;
    bottom:20px;
}
.pagination button{
    margin-left: 20px;
}
.pagination .selected{
    background-color: goldenrod;
    font-weight: bold;
    padding:10px;
    border:gold;
}
@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}